<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cities</title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

<div th:insert="~{/fragments/header :: header}"></div>

<main class="main">
    <table>
        <thread>
            <tr>
                <th>City Id </th>
                <th>Name</th>
                <th>Country </th>
                <th>District</th>
                <th>Population</th>
            </tr>
            <div class="col s6 right-align" style="margin-top: 20px;">
                <a href="/web/city/add-city" class="btn waves-effect waves-light">Add New City</a>
            </div>
        </thread>
        <tbody>
        <tr th:each="city : ${cities}">
            <td th:text="${city.id}"></td>
            <td th:text="${city.name}"></td>
            <td th:text="${city.countryCode.name}"></td>
            <td th:text="${city.district}"></td>
            <td th:text="${city.population}"></td>
            <td><a th:href="@{/web/city/delete/{id}(id=${city.id})}">Delete</a></td>
           <td><a th:href="@{/web/city/edit/{id}(id=${city.id})}">Edit</a></td>
        </tr>
        </tbody>
    </table>
</main>



<div th:insert="~{/fragments/footer :: footer}"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>